ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border: 1px solid gray;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: gray;
  }
  
